@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.hero {
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), 
                url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative; /* Changed to avoid issues with absolute positioning */
    width: 100%;
    min-height: 100vh;
    display: flex; /* To center the text */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    
}
.p1{
    width: 274px;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", serif;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 16px;

}
.hero h1{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 24px;
}
.p2{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 32px;

}
.btn{
    
gap: 10;
padding: 21px 32px 21px 32px;
border-radius: 8px;
background: rgb(82, 195, 3);
border: none;

}